.phone-book > nav {
	margin: auto;
	padding: 4px;
	background-color: #ddd;
	position: absolute;
	left: 0;
	top: 40px;
	height: 400px;
	width: 180px;
	list-style: none;
}

.list-wrapper{
	list-style: none;
	text-align: left;
	list-style-type: none; 
	list-style-position: inside; 
	margin: 0; 
	padding: 0;
}

.name-search{
	list-style: none;
	text-align: left;
	list-style-type: none; 
	list-style-position: inside; 
	background-color: #eee;
	margin-left: 8px;
	margin-right: 12px; 
	margin-bottom: 0; 
	padding-bottom: 12px;
	font-size: 20px;
}

.leftside{
	text-align: left;
	float: left;
}

.full.name-search{
color: #ff0;
}

.full > input {
	font-size: 16px;
	width:160px; 
}

a {
	cursor: pointer;
	opacity: 0.7;
}

a:hover {
	opacity: 0.9;
	color: #c45;
}



