.phone-book{
	position: relative;
	margin: auto;
	width: 360px;
}

.phone-book > nav.full,
.phone-book > main.full{
	width: 360px;
}

.phone-book > nav.empty,
.phone-book > main.empty{
	display: none;
}

